.section {
  background: var(--brown-50);
}

.col {
  display: flex;
  flex-direction: column;
  gap: var(--s5);
  max-width: 760px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.title {
  color: var(--brown-900);
  max-width: 20ch;
}

.body {
  color: var(--brown-700);
}

.highlight {
  color: var(--blue-500);
}
